body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.em-text{
color :#000000 !important;
}
section {
padding:40px 0 40px 0;
}
.jumbotron{
background: url("img/mainpic1024.jpg") !important; 
height : 650px;
color:#000000;
overflow: none;
margin-bottom: 0px !important;
}
.design{
background:#fff; 
height : 650px;
color:#000000;
overflow: none;
margin-bottom: 0px !important;
}
.accordion{
margin-left:0px !important;
}
.jumbotron  .app-btn {
width:40%;
margin-right:30px
}
.jumbotron h1{
   margin-top:60px;
}
.jumbotron p{
   margin-bottom:40px;
}
.jumbotron .showcase-img {
width:75%
}
.preview{
display:none;
}

.text-json{
display:none;
}
.tablestyle{
border:1px solid black;
padding: 1px 1px 1px 1px;
width: 400px;
height:300px;
}
img.demo {
width:100%;
padding:3px;
border:1px solid #ccc;
}
section#title-bar{
background:#1caa98;
height:80px;
padding:0;
margin:0;
color:#fff
}
section#feature{
	background:#1caa98;
	color:#fff;
	padding:40px;
	overflow: auto;
}

section#feature ul li{
	font-size: 22px;
	list-style: none;
	line-height: 2.0em;
}

section#feature ul{
	padding:0;
	margin:0;
}

footer{
background:#333;
color:#fff;
padding:30px 0 20px 0;
}

footer li {
float:left;
padding:0 10px 0 10px;
list-style:none;
}

footer a {
color:#fff;
}

footer p {
float:right;
}

/*  Media Queries   */

@media(min-width: 1200px){
	.jumbotron.background{
	width:61%;
	margin:5px 0 0 40px;
}
}

@media(max-width: 991px){
	.background{
		display:none;
	}
}

@media(min-width: 768px) and (max-width: 990px){
	.jumbotron img.app-btn{
		width:30%;
	}

	.jumbotron{
		height:400px !important;
		background-size:100% 100%;
	}

	.jumbotron h1{
		margin-top:10px;
	}
}

@media(max-width: 768px){
	.jumbotron{
		height:350px !important;
		background-size:100% 100%;
	}

	.jumbotron h1{
		margin-top:10px;
	}
}

@media(max-width: 500px){
	.jumbotron{
		height:450px !important;
		background-image:none;
		text-align: center;
	}

	.jumbotron img.app-btn{
		width:60%;
		margin:0 auto 30px auto;
		display:block;
	}

	section#feature ul li{
		font-size: 19px !important;
	}

	footer p{
		float:none;
		text-align: center;
		padding-top:20px;
	}

}


















